<h1>Verifikasi Email</h1>

<p>
  Terima kasih atas partisipasi Anda ke Taman Kode-Kode. <br/>
  Silakan klik link di bawah ini untuk verifikasi akun Anda! <br/>
  <br/>
  <a href="http://35.231.229.161:3000/user/verify/{{ token }}">Verifikasi</a>
</p>

